

<html>
  <head>
    <title>AR InDesign Patent</title>

    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>    
    <script src="https://unpkg.com/@argonjs/argon@^1.2/dist/argon.js"></script>
    <script src="https://rawgit.com/argonjs/argon-aframe/master/dist/argon-aframe.js"></script>
    <script src="https://samples.argonjs.io/resources/lib/CSS3DArgonRenderer.js"></script>
    <script src="https://samples.argonjs.io/resources/lib/CSS3DArgonHUD.js"></script>
    <script src="https://samples.argonjs.io/resources/lib/ArgonSunMoon.js"></script>


    <script>

      function getRandColor () {
          var letters = '0123456789ABCDEF'.split('');
          var color = '#';
          for (var i = 0; i < 6; i++) {
              color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
      }

      // Component to change to random color on click.
      AFRAME.registerComponent('cursor-listener', {
        init: function () {
          this.el.addEventListener('click', function (evt) {
            this.setAttribute('material', 'color', getRandColor());
            console.log('I was clicked at: ', evt.detail.intersection.point);
          });
          this.el.addEventListener('mouseenter', function (evt) {
            this.setAttribute('material', 'opacity', 0.5);
          });
          this.el.addEventListener('mouseleave', function (evt) {
            this.setAttribute('material', 'opacity', 1.0);
          });
        }
      });
    </script>

  </head>
  <body>
    <ar-scene sunmoon light="defaultLightsEnabled: false">

      <!-- everything has to be attached to some reference frame -->
      <ar-frame id="viewer" visible="true" parent="ar.stageEUS">
        <a-entity id="helloworld" position="0 0 -8">
          <a-sphere position="0 1.25 -1" cursor-listener radius="1.25" color="#EF2D5E" ></a-sphere>
          <a-box position="-1 0.5 1" cursor-listener rotation="0 45 0" width="1" height="1" depth="1"  color="#4CC3D9" ></a-box>
          <a-entity billboard position="0 3 0">
            <a-entity rotation="0 45 0">
                    <a-entity css-object="div: #mydiv" scale="0.01 0.01 0.01" rotation="0 0 0" position="0 0 0.5"></a-entity>
                    <a-entity css-object="div: #mydiv2" scale="0.01 0.01 0.01" rotation="0 -90 0" position="-0.5 0 0"></a-entity>
            </a-entity>
          </a-entity>
          <a-cylinder position="1 0.75 1" cursor-listener radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
          <a-plane rotation="-90 0 0" cursor-listener width="4" height="4" color="#7BC8A4"></a-plane>
        </a-entity>
      </ar-frame>

      <!-- ambient light doesn't need to be attached -->'
      <a-entity light="type: ambient; color: #444"></a-entity>

      <ar-camera>
        <a-entity id="myCursor" cursor="fuse:true; fuse-timeout: 1000"
                    position="0 0 -0.1"
                    geometry="primitive:ring; radiusInner: 0.001; radiusOuter: 0.0015"
                    material="color: #2E3A87; opacity:0.3;"> 
              <a-animation begin="click" easing="ease-in" attribute="scale" dur="150"
               fill="forwards" from="0.1 0.1 0.1" to="1 1 1"></a-animation>
  <a-animation begin="cursor-fusing" easing="ease-in" attribute="scale" dur="1500"
               fill="backwards" from="1 1 1" to="0.1 0.1 0.1"></a-animation>         
        </a-entity>
      </ar-camera>

    </ar-scene>
    <script>

      var arScene = document.querySelector('ar-scene');
      var content = document.querySelector('#helloworld');

      // the ar-camera has an argon reference frame attached, so when it gets it's first value,
      // we'll get this event 
      arScene.addEventListener("referenceframe-statuschanged", function () {
        var camera = document.querySelector('ar-camera');
        var vec = camera.object3D.getWorldDirection();
        vec.multiplyScalar(-10);
        content.setAttribute("position", {x: vec.x, y: vec.y, z: vec.z});
      })
    </script>
  </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63191442-2', 'auto');
  ga('send', 'pageview');
</script>  
</html>